* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

/* Responsive First! */

@media (max-width: 991px) {
  h1,
  h2,
  h4 {
    text-align: center;
  }

  img {
    margin: 0 auto;
  }

  .title-logo {
    display: block;
    margin: 40px auto 0;
  }
}

/* Header */

.page-header{
  border-bottom: 1px solid #000
}

.title-logo {
  margin-top: 0px;
  border: 0px;
}

h1,
h2{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Playfair Display SC', serif;
}

h2 {
  font-weight: 400;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 60px;
}

/* Body */

body {
  /*
  background-image: url(../img/gold.png);
  background-repeat: repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  */
}

.img-center {
  margin: 0 auto;
}

img {
   padding:1px;
   border:1px solid;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

#featured-header {
  margin-bottom: 10px;
}
